/* SOCIAL SECTION START */
.count-4-social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 500px;
    align-items: center;
    background-color: #cf740d;
    color: var(--fontColor);
    text-align: center;
}

.count-4-social .icone-social .icone-ul li {
    float: left;
}

.count-4-social h2 {
    grid-column: 1/11;
    text-align: center;
}

.count-4-social .icone-social .icone-ul li {
    margin: 20px;
    list-style: none;
}


.count-4-social .phone-mail ul li {
    margin: 50px;
    list-style: none;
}

/* SOCIAL SECTION END */